/* reset begins */

html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: Sans;
    /* font-family:'Courier New', Courier, monospace; */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a{
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/* reset ends */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    background-color:rgb(0,124,207);
    color: snow;
    width: 320px;
    text-align: center;
    border-radius: 5px;
}

h2 {
    padding: 5px;
    margin: 5px;
}

p {
    padding: 5px;
    margin: 5px;
}

nav {
    display: flex;
    flex-wrap: wrap;
    /* background-color: lightslategray; */
    /* max-width: 320px; */
    width: 100%;
    justify-content: center;
}

button {
    background-color: lightgrey;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.app {
    border: 1px solid black;
    height:560px;
    overflow-y: auto;
    display: none;
    /* display: inline-block; */

}
#app-bible{
    display:block;
}

.app, h1, #top-nav{
    width: 480px;
}
#map-container{
    width: 320px;
}
/* #app-map{
    width: 320px;
} */
/* 
#app-reading{
    width: 320px;
}
#app-bible{
    width: 480px;
}
#app-commentary{
    width: 480px;
}
#app-dictionary{
    width: 480px;
}
#app-map{
    width: 320px;
}
#app-download{
    width: 320px;
} */
/* .open-verse{
    background-color: rgb(215, 235, 250);
} */
/* .open-verse:hover {
    background-color: rgb(0,124,207);
} */

#bible-bc-selection,
#dictionary-selection {
    max-width: 200px;
}

.color-hover{
    /* background-color: antiquewhite; */
    background-color: rgb(240, 240, 255);
    border-radius: 5px;
}
.color-hover:hover {
    background-color: rgb(0,124,207);
    color:snow;
}

#reading-plan-table {
    font-size: .7em;
    border-spacing: 0px;
    border-collapse: collapse;
}

#reading-plan-table td {
    border: 1px solid black;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

#ascii-map {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4px;
    margin:0;
    padding:0;
    display:inline-block;
}

#map-container{
    position:relative;
    left: 80px;
}
.bulls-eye{
    color:blue;
    transform: translateX(-50%);
    transform: translateY(-50%);
}
.background-location{
    transform: translateY(-50%);
}
#top-nav {
    position: sticky;
    top: 0;
    background-color: rgb(68, 180, 255);
    /* background-color: transparent; */
    /* border-radius: 5px; */
  }

/* after styling */

body{
    background-color: aliceblue;
}
.app{
    background-color: snow;
}

nav>button{
    padding: 5px;
    margin: 1px;
    font-size: 1.4em;
    border-radius: 5px;
    border: 1px solid grey;
    min-width: 40px;
}

button:hover{
    background-color: rgb(0,124,207) !important;
}
.app button, .app input{
    font-size: 1em;
}

input[type="search"]{
    width: 150px;
}
.word-entry{
   padding:0.5rem;
}
#reading-plan-name, #bible-name, #dictionary-name, #commentary-name{
    text-align: center;
}
.pulpit-commentary-heading{
    display: none;
}

#version-type{
    font-size: 1rem;
}

#iphone-instructions{
    background-color: rgb(240, 240, 255);
}

@media screen and (max-width: 960px) {
    /* main {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    /* #app-reading{
        width: 320px;
    }
    #app-bible{
        width: 320px;
    }
    #app-commentary{
        width: 320px;
    }
    #app-dictionary{
        width: 320px;
    }
    #app-map{
        width: 320px;
    }
    #app-download{
        width: 320px;
    } */
    /* #asciiMap{
        font-size: 4px;
    } */
    .app, h1, #top-nav,#map-container{
        width: 320px;
    }
    #map-container{
        left: 0px;
    }
    /* #app-map{
        width: 320px;
    } */
  }