html,
button {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    background-color: aliceblue;
}

button,select{
    border: 1px solid grey;
    background-color: snow;
    height: 40px;
    font-size: 1.1rem;
    min-width: 34px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(68, 180, 255);
    background-color: snow;
    background-color: aliceblue;

}

h3 span.word,
h2 span.word {
    background-color: rgb(0, 124, 207);
    color: snow;
}

.initial-close{
    display: none;
}


body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    /* font-weight: normal; */
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

main {
    width: 320px;
    background-color: snow;
    min-height: 450px;
    display: none;
    font-size: 1.1rem;
    /* margin-left: auto;
    margin-right: auto; */
}


/* button{
display: inline-block;
vertical-align: middle;

} */
h1,
h2,
h3 {
    background-color: rgb(0, 124, 207);
    color: snow;
    padding: 5px;

}
h1{
    text-align: center;
    overflow: hidden;
    padding:8px;
}
.word {
    background-color: lightblue;
}

.osis {
    background-color: lightcoral;
}

.definition-entry {
    background-color: orange;
}

.definition-location {
    background-color: yellow;
}

.definition-relatives {
    background-color: pink;
}

.word,
.osis,
.definition-entry,
.definition-location,
.definition-relatives {
    background-color: rgb(240, 240, 255);
}

button:hover,
.word:hover,
.osis:hover,
.definition-entry:hover,
.definition-location:hover,
.definition-relatives:hover {
    background-color: blue;
    color: snow;
}

#map-container {
    margin: 0;
    padding: 0;
    position: relative;
}

#ascii-map {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4px;
    margin: 0;
    padding: 0;
    display: inline-block;
    line-height: 1;
    background-color: white;
}

.bullseye {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    transform: translate(-0.5em, -0.5em);
    color: blue;
    z-index: 999;
    background-color: rgba(255, 250, 250, 0.4);
    /* transform: translateX(-50%);
    transform: translateY(-50%); */
}

.background-location {
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    transform: translate(-0.5em, -0.5em);
    color: darkslategray;
    background-color: rgba(255, 250, 250, 0.4);
    z-index: 998;
}

/* .bulls-eye {
    color: blue;
    transform: translateX(-50%);
    transform: translateY(-50%);
    background-color: rgba(255, 250, 250, 0.4);
} */

.set-1-datapoint,
.set-2-datapoint,
.set-3-datapoint,
.set-4-datapoint {
    position: absolute;
    margin: 0;
    padding: 0;
    transform: translate(-0.5rem, -0.5rem);
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

#reading-plan-table {
    font-size: .75rem;
    border-spacing: 0px;
    /* border-collapse: collapse; */
    margin: 0;
    width: 320px;
    padding: 0;
    table-layout: fixed;
    /* overflow-x: scroll; */
    /* box-sizing: border-box; */
    border-collapse: collapse;
}

#reading-plan-table td {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    vertical-align: top;
    word-wrap: break-word;
    /* overflow: auto;
    word-wrap: break-word; */
}

#reading-plan-table tr:nth-child(even) {
    background-color: lightblue;
}

#reading-plan-table tr:nth-child(odd) {
    background-color: lightgrey;
}

#reading-plan-table .osis{
    background-color: transparent;
}
#reading-plan-table .osis:hover{
    background-color: blue;
    color: snow;
}
td{
    border: 1px solid grey;
}


/* ol,
ul {
list-style: none;
} */
#reading-plan-table ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1000px) {
    /* main {
        margin-left: auto;
        margin-right: auto;
    } */
    body{
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }
    
}

sub {
    font-size: 0.9rem;
}

#show-all-checkbox {
    padding: 0;
    margin: 0;
    vertical-align: middle;
}



/* INITIALIZATION */
html{
    font-family: Arial, Helvetica, sans-serif;
}
button,h1,h2,h3{
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0.6rem;
}


